
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Logs
logs/

# Config / secret files
.env
*.yaml

# Data folders
data/raw/
data/interim/
data/processed/

# MacOS/Windows system files
.DS_Store
Thumbs.db
